# /*意思是将仓库内即根目录内所有内容全部忽略掉，即将所有内容不纳入版本控制。
/*
# 下面的!取反项即纳入版本控制、若没有上面的任何不纳入版本控制的条件，则任何意义都没有、即仓库内所有内容全部纳入版本控制，相当于,gitignore为空或没有这个文件。
!.gitignore
!README.md
!_vimrc
!*.vim
#!/lisp/* 似乎这样写lisp下文件add不进去
#!lisp/

